<img src="end.jpg"/>
<img [src]="imagepath" style="position:absolute;left: 0%;width:100%;height:100%"/>
<div class="center">
<div class="content">
    <div class="header">
        <h2>Confirmed</h2>
        <label for="click" class="bi bi-x"></label>
        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="position: absolute; right:20px;top:20px;color:black;font-weight: bold;cursor:pointer">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
    </div>
    <label for="click" class="bi bi-check2-all"></label>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="50%" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
      </svg>
      <p>Payment Confirmed </p>
      <div class="line"></div>
      <button type="button" class="btn btn-success text-white" (click)="close()" style="position: absolute;right:4%;bottom: 3% ;">Close</button>
</div>
</div>
